Node-red/node_red.json
[
    {
        "id": "20c5790faaaabeb3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6fd59ec2d0d4e45",
        "type": "mqtt in",
        "z": "20c5790faaaabeb3",
        "name": "",
        "topic": "kitchen/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "613a8a765277959a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "a069072604ece200"
            ]
        ]
    },
    {
        "id": "045687185aa8e3f3",
        "type": "debug",
        "z": "20c5790faaaabeb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "a069072604ece200",
        "type": "json",
        "z": "20c5790faaaabeb3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "045687185aa8e3f3",
                "34ca4420f92576be",
                "4ef235ea2066329c"
            ]
        ]
    },
    {
        "id": "738beba1f5f1530b",
        "type": "ui_gauge",
        "z": "20c5790faaaabeb3",
        "name": "",
        "group": "2d289c02371223cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "34ca4420f92576be",
        "type": "function",
        "z": "20c5790faaaabeb3",
        "name": "",
        "func": "msg.payload = msg.payload.Data.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 280,
        "wires": [
            [
                "738beba1f5f1530b",
                "045687185aa8e3f3"
            ]
        ]
    },
    {
        "id": "bdc3cf4c280b19b6",
        "type": "mqtt out",
        "z": "20c5790faaaabeb3",
        "name": "",
        "topic": "kitchen/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "613a8a765277959a",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "a9adc1d48f13cb9d",
        "type": "ui_switch",
        "z": "20c5790faaaabeb3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "2d289c02371223cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "c6b4bfa4096c52f4"
            ]
        ]
    },
    {
        "id": "c6b4bfa4096c52f4",
        "type": "function",
        "z": "20c5790faaaabeb3",
        "name": "",
        "func": "msg.payload = {led_status: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "bdc3cf4c280b19b6",
                "755f68422b708144"
            ]
        ]
    },
    {
        "id": "755f68422b708144",
        "type": "debug",
        "z": "20c5790faaaabeb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "a9c632c22530610c",
        "type": "ui_gauge",
        "z": "20c5790faaaabeb3",
        "name": "",
        "group": "2d289c02371223cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Wilgotność",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "4ef235ea2066329c",
        "type": "function",
        "z": "20c5790faaaabeb3",
        "name": "",
        "func": "msg.payload = msg.payload.Data.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "a9c632c22530610c"
            ]
        ]
    },
    {
        "id": "613a8a765277959a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d289c02371223cb",
        "type": "ui_group",
        "name": "Test",
        "tab": "9cf514ce97c6f538",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cf514ce97c6f538",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]